<div class="container-fluid border-top shadow">
  <footer class="py-4 text-center">
    <div class="container">
      <div class="row">
        <!-- Columna 1: Logo -->
        <div class="col border-end d-flex justify-content-center align-items-center">
          <h5 class="logo fs-1 fw-bold">Logo</h5>
        </div>
        <!-- Columna 2: Navegación -->
        <div class="col border-end text-start">
          <a class="nav-link" href="#"><i class="fas fa-map-marker-alt"></i> Puntos de Venta</a>
          <a class="nav-link" href="#"><i class="fas fa-utensils"></i> Nuestro Menú</a>
          <a class="nav-link" href="#"><i class="fas fa-store"></i> Tienda Online</a>
          <a class="nav-link" href="#"><i class="fas fa-book"></i> Nuestra Dulce Historia</a>
          <a class="nav-link" href="#"><i class="fas fa-envelope"></i> Contacto / PQRS</a>
          <a class="nav-link" href="#"><i class="fas fa-leaf"></i> Compromiso de Sostenibilidad</a>
          <a class="nav-link" href="#"><i class="fas fa-briefcase"></i> Trabaja con Nosotros</a>
        </div>
        <!-- Columna 3: Redes Sociales -->
        <div class="col">
          <h5>Redes Sociales</h5>
          <ul class="list-unstyled d-flex justify-content-center">
            <li><a href="#"><i class="fab fa-facebook px-3"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter px-3"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram px-3"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin px-3"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>