<!-- <header></header> -->
<section class="section1 pt-5">
  <div class="container1">
    <div>
      <img src="../../../assets/home/pan.jpg" alt="">
      <img src="../../../assets/home/pizza.jpg" alt="">
      <img src="../../../assets/home/postre.jpg" alt="">
      <img src="../../../assets/home/sydney.jpg" alt="">
    </div>
    <div><a routerLink="/lista-de-productos" (click)="navigateToListOfProducts()" class="btn-c1">ORDENAR</a></div>
  </div>
  <!-- termina -->
  <!-- comienzo -->
  <div class="container2  d-flex flex-column">
    <div class="titulo-c2 d-flex flex-column text-center justify-content-center">
      <h2>SOBRE</h2>
      <h5>NUESTRO RESTURANTE</h5>
    </div>

    <div class="iconos">
      <a href="#"><img src="../../../assets/home/telefono.png" alt=""></a>
      <a href="#"><img src="../../../assets/home/direccion.png" alt="" height="30px" width="30px"></a>
      <a href="#"><img src="../../../assets/home/mensaje.gif" alt=""></a>
    </div>

    <div class="table">
      <table>
        <tr>
          <th class="title-table" colspan="3">HORARIOS</th>
        </tr>
        <tr>
          <td>Lunes</td>
          <td class="espacio">-</td>
          <td>12pm - 9pm</td>
        </tr>
        <tr>
          <td>Martes</td>
          <td class="espacio">-</td>
          <td>12pm - 9pm</td>
        </tr>
        <tr>
          <td>Miercoles</td>
          <td class="espacio">-</td>
          <td>12pm - 10pm</td>
        </tr>
        <tr>
          <td>Jueves</td>
          <td class="espacio">-</td>
          <td>12pm - 10pm</td>
        </tr>
        <tr>
          <td>Viernes</td>
          <td class="espacio">-</td>
          <td>12pm - 10pm</td>
        </tr>
        <tr>
          <td>Sabado</td>
          <td class="espacio">-</td>
          <td>12pm - 9pm</td>
        </tr>
        <tr>
          <td>Domingo</td>
          <td class="espacio">-</td>
          <td>12pm - 9pm</td>
        </tr>
      </table>
    </div>
    <!--  -->
    <div class="btn-c2">
      <a routerLink="/contacto" (click)="navigateToContact()">CONTACTO</a>
      
    </div>
  </div>
  <!-- comoenzo de container 3 -->
  <div class="container3 d-flex flex-column justify-content-center align-content-center">
    <div class="title-c3">
      <h3>SIGUENOS</h3>
    </div>
    <div class="iconos-c3">
      <a href="#" class="d-flex justify-content-center align-items-center"><img src="../../../assets/home/facebook.png" alt="facebook" height="20px" width="20px"></a>
      <a href="#" class="d-flex justify-content-center align-items-center"><img src="../../../assets/home/instagram.png" alt="instagram" height="20px" width="20px"></a>
      <a href="#" class="d-flex justify-content-center align-items-center"><img src="../../../assets/home/twitter.png" alt="twitter" height="20px" width="20px"></a>
    </div>
  </div>
</section>
<!-- termina seccion -->
<!-- comienza seccion -->
<section class="section2">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-wrap px-4">
        <h2 class="py-4 text-center">"¡Superó todas mis expectativas!"</h2>
        <p> La comida parece que ha sido preparada para una revista culinaria. Mientras esté en la ciudad, agregue <b>**Red
          Bamboo**</b> como una experiencia culinaria. Será un buen lugar para tomar una cita o reunirse con algunos amigos.
          Usted no será decepcionado.</p>
      </div>
      <div class="col d-flex flex-wrap px-4">
        <h2 class="py-4 text-center">
          "El mejor restaurante..."</h2>
        <p>Definitivamente amo éste lugar. Las alas son las mejores!!! nunca había comido alita y bistec con
          queso Philly ¡así que tener todo esto como una opción en el menú es fantástico! Voy a este lugar cada vez que
          estoy en la ciudad</p>
      </div>

      <div class="col d-flex flex-wrap px-4">
        <h2 class="py-4 text-center">
          "Comida deliciosa, buenos precios"</h2>
        <p>Lugar muy agradable, acogedor. El servicio fue bueno, la comida deliciosa y mucho para elegir :&rpar; Quiero ir
          allí de nuevo :&rpar; <br> Ventajas: Buen precio, buena comida, lugar acogedor y personal agradable</p>
      </div>
    </div>
  </div>

</section>