<div class="banner"></div>
<div class="row">
  <div class="col div1 text-center">
    <div class="direccion">
      <h2>Direccion</h2>
      <p>Carrera Falsa # 12345 - 6789</p>
    </div>
    <div class="telefono">
      <h2>Telefono</h2>
      <p>1234567890 - 2345678977</p>
    </div>
    <div class="horarios d-flex justify-content-center">
      <table class="text-center">
        <tr>
          <th class="title-table" colspan="3">HORARIOS</th>
        </tr>
        <tr>
          <td>Lunes</td>
          <td class="espacio">-</td>
          <td>12pm - 9pm</td>
        </tr>
        <tr>
          <td>Martes</td>
          <td class="espacio">-</td>
          <td>12pm - 9pm</td>
        </tr>
        <tr>
          <td>Miercoles</td>
          <td class="espacio">-</td>
          <td>12pm - 10pm</td>
        </tr>
        <tr>
          <td>Jueves</td>
          <td class="espacio">-</td>
          <td>12pm - 10pm</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col formulario">
    <h2>Formulario De Contacto</h2>
    <form>
      <label for="username"></label>
      <input type="text" name="username" placeholder="NOMBRE">
      <label for="username"></label>
      <input type="text" name="affair" placeholder="ASUNTO">
      <label for="email"></label>
      <input type="email" name="email" placeholder="EMAIL">
      <textarea name="comentario" id="" cols="30" rows="10" ninlength="10" maxlength="500"
        placeholder="DETALLES"></textarea>
      <button type="button">ENVIAR</button>
    </form>
  </div>
</div>