.container {
  flex-wrap: wrap;
  gap: 20px 50px;
  padding: 150px 50px;
  background-color: #fff;
}

.container .card {
  justify-content: center;
  align-items: center;
  width: 500px;
  max-width: 100%;
  height: 350px;
  border: none;
  overflow: hidden;

  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    transition: all .4s ease;
    width: 100%;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  .card-text {
    text-align: center;
  }

  .card-body {
    padding: 15px;

    h2,
    p {
      font-size: small;
      padding: 0px;
      margin: 0%;
    }
  }

  .button {
    display: flex;
    justify-content: center;

    .btn-add-to-cart {
      padding: 10px 20px;
      background-color: #7c1668;
      color: #fff;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      font-size: 14px;

      &:hover {
        background-color: #9b3c88;
      }

      &:active {
        background-color: #d04db6;
      }
    }
  }
}