<div class="container d-flex justify-content-center align-items-center">
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../assets/list-of-products/Almojabana1_1100x.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Nombre</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../assets/list-of-products/Almojabana1_1100x.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Nombre</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../assets/list-of-products/Almojabana1_1100x.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Nombre</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../assets/list-of-products/Almojabana1_1100x.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Nombre</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../assets/list-of-products/Almojabana1_1100x.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Nombre</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
  <div class="card pb-4" style="width: 18rem;">
    <img src="../../../assets/list-of-products/Almojabana1_1100x.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>Nombre</h2>
      <p class="card-text">precio</p>
    </div>
    <div class="button">
      <button class="btn-add-to-cart">Agregar al carrito</button>
    </div>
  </div>
</div>